<a href="https://colab.research.google.com/github/tjshaik/deep-learning-challenge/blob/main/AlphabetSoupCharity_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN', 'NAME'], axis=1, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Determine the number of unique values in each column.
unique_values_per_column = application_df.nunique()
print("Number of unique values in each column:")
print(unique_values_per_column)

Number of unique values in each column:
APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
cutoff_value = 520

# use the variable name `application_types_to_replace`
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")


# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_greater_than_1 = classification_counts[classification_counts > 1]
print(classification_counts_greater_than_1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 1000
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
application_df.nunique(0)

APPLICATION_TYPE             9
AFFILIATION                  6
CLASSIFICATION               6
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
one_hot_encoding = pd.get_dummies(application_df)
one_hot_encoding.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [ ]:
application_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [ ]:
from IPython.core import application
# Split our preprocessed data into our features and target arrays
y = one_hot_encoding["IS_SUCCESSFUL"]
X = one_hot_encoding.drop(columns = "IS_SUCCESSFUL")


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
len(X_train_scaled[0])

43

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim = len(X_train_scaled[0])))



# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 60)                4860

 dense_2 (Dense)             (None, 1)                 61

=================================================================
Total params: 8441 (32.97 KB)
Trainable params: 8441 (32.97 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 4s 2ms/step - loss: 0.5728 - accuracy: 0.7170
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5572 - accuracy: 0.7280
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5533 - accuracy: 0.7280
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5515 - accuracy: 0.7305
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5499 - accuracy: 0.7299
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5496 - accuracy: 0.7303
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7325
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7325
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5467 - accuracy: 0.7334
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7341
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7346
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7348
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7354
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7336
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7344
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7357
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7352
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7361
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7362
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7360
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7357
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7365
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7362
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7364
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7357
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7378
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7361
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7369
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7371
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7380
Epoch 31/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5400 - accuracy: 0.7379
Epoch 32/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5394 - accuracy: 0.7380
Epoch 33/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5396 - accuracy: 0.7376
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7388
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7379
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5390 - accuracy: 0.7384
Epoch 37/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5391 - accuracy: 0.7379
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7373
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7385
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7378
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7387
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7392
Epoch 43/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5383 - accuracy: 0.7383
Epoch 44/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5378 - accuracy: 0.7386
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7388
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7380
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7392
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7390
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7388
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7386

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5565 - accuracy: 0.7277 - 480ms/epoch - 2ms/step
Loss: 0.5564813613891602, Accuracy: 0.7276967763900757

In [ ]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

- add name column, bin it
- more layers, epochs
- increse number of neurons
- add dropout layers